<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.springbootmybatis.mapper.EmpMapper">
    <!--public Employee getEmpById(Integer id);
    public int InsertEmp(Employee employee);-->
    <select id="getEmpById" resultType="com.st.springbootmybatis.bean.Employee">
        select * from Employee where id = #{id}
    </select>

    <insert id="InsertEmp">
        insert into Employee(lastName,email,gender,d_id) values (#{lastName},#{email},#{gender},#{dId})
    </insert>
</mapper>